@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/MontserratBold.eot');
    src: url('./fonts/MontserratBold.eot') format('embedded-opentype'),
         url('./fonts/MontserratBold.woff2') format('woff2'),
         url('./fonts/MontserratBold.woff') format('woff'),
         url('./fonts/MontserratBold.ttf') format('truetype'),
         url('./fonts/MontserratBold.svg#MontserratBold') format('svg');
         font-weight: bold;
         font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/MontserratRegular.eot');
    src: url('./fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('./fonts/MontserratRegular.woff2') format('woff2'),
         url('./fonts/MontserratRegular.woff') format('woff'),
         url('./fonts/MontserratRegular.ttf') format('truetype'),
         url('./fonts/MontserratRegular.svg#MontserratRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* Navbar */
.menu {
    width: 100%;
    padding: 32px;
}

.menu-list {
    text-align: center;
    width: fit-content;
    height: 15px;
    left: 330px;
    top: 32px;
    margin: 0 auto;
}

.menu-item {
    display: inline-block;
    margin-right: 72px;
}

.menu-link {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    display: inline;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;  
    color: #FF0000;
}

.menu-item:nth-child(3) {
    margin-right: 50px;
}

.menu-item:last-child {
    margin-right: 0;
}
/* image */
.bg {
    width: 100%;
    height: 789px;
    background-color: #5c4452;
    background-image: url("./img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-section {
    width: 100%;
    padding: 48px 68px 0;
    text-align: center;
}

/* Rappresent your life with a simple photo */
.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-bottom: 38px;
}

.text {
    font-family:'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
}

/* get started */
.btn-started {
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px 17px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 66px auto 42px;
}

.footer {
    width: 1070px;
    height: 39px;
    margin: 40px 105px 29px;
}

.text-copy {
    text-align: right;
    vertical-align: center;
    font-family:'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 9px 0 10px;
}